{% extends 'base.html' %}


{% block title %}About Us{% endblock title %}

{% block body %}
<div class="About-us">
    <h1> About Us </h1><br>
    <img src="/static/img/logo11.jpg" width="450" height="200"><br><br>
    <p><em>"Designing the Web of Possibilities, Connecting Dreams."</em></p>
    <hr>
    <p>Welcome to Obvious Solutions, your one-stop destination for top-notch software development services. 
        Established with a vision to drive innovation and transform
         ideas into reality, Obvious Solutions has emerged as a leading force in the world of software development.</p>
    <h4>Who We Are</h4>

        <p>At Obvious Solutions, we pride ourselves on being a dynamic and client-centric software development company. 
        With a dedicated team of highly skilled professionals, we offer a wide range of software development services 
        to meet your unique business needs. Whether you're a startup looking to build your first mobile app or an 
        enterprise in need of a complex web application, we've got you covered.</p>

    <h4>Our Services</h4>
    <p>We specialize in a variety of programming languages and frameworks, ensuring that we can tackle any project you throw our way. Our core services include:<br>

       1. Java Development: Our Java developers excel at crafting robust and scalable applications, making use of Java's versatility and platform independence.<br>
        
      2. Android Development: Transform your ideas into cutting-edge Android applications with the expertise of our Android developers.<br>
        
       3. React Development: Leverage the power of React to build responsive and interactive web applications that engage and delight your users.<br>
        
       4. Python Development: Our Python developers harness the simplicity and efficiency of Python to create data-driven, high-performance applications.<br>
        
       5. C++ Development: For projects requiring high-performance and system-level programming, our C++ developers deliver precision and reliability.<br>
        
       6. Flutter Development: Build cross-platform mobile applications with Flutter, offering a seamless user experience on both Android and iOS.</p>
        <br>
    </div>
    
    <div class="container1">
        <h1>FOUNDER</h1>
        <br>
          
            <div class="img-box">
              <img src="/static/img/dhaval.jpg"  width="400px" height="300px"  class="img-respoonsive">
                  <ul>
                    {% comment %} <a href="#"><li><i class="fa-brands fa-facebook" ></i></li> </a>
                    <a href="#"><li><i class="fa-brands fa-linkedin" ></i></i></li> </a>
                    <a href="#"><li><i class="fa-brands fa-instagram" ></i></li> </a> {% endcomment %}
                  </ul>
            </div>
            <h2>Dhaval Bhadarka</h2>
            <h3>Founder of Obvious Solutions</h3>
            <p>Master of computer application(MCA)</p>
         
        
    </div>
    <style>
        .About-us {
            width: 100%;
            text-align: center;
            background-color: rgb(229, 225, 225);
            margin-top: 30px;
            margin-bottom: 30px;
          }

          
           .container1{

            width: 100%;
            text-align: center;
            
            margin-top: 30px;
            margin-bottom: 30px;
          }
          .img-box{
            
            width: 100%;
            text-align: center;
            
            margin-top: 30px;
            margin-bottom: 30px;
          }

    </style>

{% endblock body %}

