{% extends 'base.html' %}


{% block title %}Apply{% endblock title %}

{% block body %}
  
<div class="java">
    <p>
        <h4>(i) Java Developer Skills:</h4><br>
        1. JavaServer pages (JSP) and servlets<br>
        2. Web frameworks like Struts and Spring<br>
        3. Service-oriented architecture <br>
        4. Web Technologies like HTML, JavaScript, CSS, JQuery
        5. Markup Languages such as XML, JSON<br>
        6. Abstract classes and interfaces<br>
        7. Constructors, lists, maps, sets<br>
        8. File IO and serialization
        9. Exceptions<br>
        10. Generics<br>
        11. Java Keywords like static, volatile, synchronized, transient, etc<br>
        12. Multithreading and Synchronization<br>
    </p><br> 
</div>
<div class="android">

    <p>
        <h4>(ii) Android Developer Skills:</h4><br>
        1. Android foundations<br>
        2. Android Interactivity <br>
        3. Android UI   <br>
        4. Implementing Navigation   <br>
        5. Android Testing  <br>
        6. Tackling Databases  <br>
        7. Notifications   <br>
        8. Firebase on android  <br>
        9. Android Security  <br>
        10. Use of APIs <br>
        11. Git: Version Control System<br>
        12. Deployment of Application <br>
    </p> <br>
</div>
<div class="react">

    <p>
        <h4>(iii) React Developer Skills:</h4><br>
        1. HTML and CSS <br>
        2. Fundamentals of JavaScript <br>
        3. JavaScript ES6   <br>
        4. JSX (JavaScript XML)   <br>
        5. Variables and Scoping  <br>
        6. Git <br>
        7. DOM and Event Handling Facility   <br>
        8. Node + npm  <br>
        9. Fetch data from both APIs GraphQL & Rest  <br>
        10. Redux <br>
       
    </p><br>
</div>
<div class="python">

    <p>
        <h4>(iv) Python Developer Skills:</h4><br>
        1. Solid knowledge of the Python programming language <br>
        2. CSS, HTML and JavaScript <br>
        3. Understanding of Python Frameworks   <br>
        4. Proficiency in Object Relational Mapper (ORM)   <br>
        5. Familiarity with Python Libraries  <br>
        6. Machine Learning and AI  <br>
        7. Understanding of Multi-process Architecture   <br>
        8. Version Control  <br>
       
    </p><br>
</div>
<div class="cpp">

    <p>
        <h4>(v) C++ Developer Skills:</h4><br>
        1. Much more knowledge and experience programming in C/C++ <br>
        2. Ability to work with web dev tools for creating new applications. <br>
        3. A stronger understanding of the RDBMS databases.   <br>
        4. Knowledge and experience in working with IDEs (integrated development environments)    <br>
        5. Advanced knowledge of methodologies, modern SCM, and testing tools.  <br>
        6. Ability to define security standards and quality, plus a strong understanding of database administration.  <br>
       
    </p><br>
</div>
<div class="flutter">

    <p>
        <h4>(vi) Flutter Developer Skills:</h4><br>
        1. Prior Knowledge of Native Programming Languages  <br>
        2. Good Knowledge or Experience in Dart <br>
        3. Knowledge of Agile and Waterfall methodologies for software development   <br>
        4. Knowledge in SQLite   <br>
        5. Good Knowledge of Git  <br>
      
    </p><br>
</div>

<style>
.java{
    
    width: 100%;
    text-align: center;
    background-color: #fcd8d8;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
p{
    
}
.android{
    width: 100%;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;
    
}

.flutter{
    width: 100%;
    text-align: center;
    
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.python{
    width: 100%;
    text-align: center;
  
    margin-top: 30px;
    margin-bottom: 30px;
}
    
.react{
    width: 100%;
    text-align: center;
    background-color: #fcd8d8;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.cpp{
    width: 100%;
    text-align: center;
    background-color: #fcd8d8;
    margin-top: 30px;
    margin-bottom: 30px;
}    



</style>


{% endblock body %}